<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>COMP308_W2019_Assignment01</title>
    <!--CSS Section-->
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="Contents/app.css" />
  </head>
  <body>
    <header>
      <!--Navigation bar with logo-->
      <nav
        class="navbar navbar-expand-lg navbar-dark"
        style="background-color:gray;"
      >
      <a
          class="navbar-brand"
          href="https://comp308-w2019-assignment01-abi.herokuapp.com/about"
        >
          
      <img
            id="brand-image"
            alt="Logo"
            src="https://pngimage.net/wp-content/uploads/2018/05/ak-logo-png-5.png"
            height="40px"
          />
        <a class="navbar-brand" href="#">PORTFOLIO</a>
        
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <% if(title == "Home"){ %>
            <li class="nav-item active">
              <% } else { %>
            </li>

            <li class="nav-item">
              <% } %>
              <a class="nav-link" href="/"
                ><i class="fa fa-2x fa-home"></i>Home
                <span class="sr-only">(current)</span></a
              >
            </li>
            <% if(title == "About me"){ %>
            <li class="nav-item active">
              <% } else { %>
            </li>

            <li class="nav-item">
              <% } %>
              <a class="nav-link" href="/about"
                ><i class="fa fa-2x fa-user"></i>About me</a
              >
            </li>
            <% if(title == "My projects"){ %>
            <li class="nav-item active">
              <% } else { %>
            </li>

            <li class="nav-item">
              <% } %>
              <a class="nav-link" href="/projects"
                ><i class="fa fa-2x fa-laptop"></i>Projects</a
              >
            </li>
            <% if(title == "Services offered"){ %>
            <li class="nav-item active">
              <% } else { %>
            </li>

            <li class="nav-item">
              <% } %>
              <a class="nav-link" href="/services"
                ><i class="fa fa-2x fa-cogs"></i>Services</a
              >
            </li>
            <% if(title == "Contact me"){ %>
            <li class="nav-item active">
              <% } else { %>
            </li>

            <li class="nav-item">
              <% } %>
              <a class="nav-link" href="/contact"
                ><i class="fa fa-2x fa-mobile"></i>Contact</a
              >
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <main>
     <!--Home page content area-->
      <% if(title == "Contact me"){ %>
      <div class="jumbotron jumbotron-fluid">
        <div
          class="container"
          style="background-image:url(https://www.nosm.ca/wp-content/uploads/2018/04/iStock-637945400-e1524156404942.jpg); background-repeat:no-repeat; max-width: 100%;"
        >
          <h1 class="display-2" style="color:gray; font-weight:bolder">CONTACT ME</h1>
          <p class="lead" style="font-weight:bolder">
            FEEDBACK FORM
          </p>
          <hr class="my-4" />
          <table style="width:100%">
          <tr>
          <td class="fieldLabel">First Name:</td>
          <td><input type="text" size="30" name="fname"></td>
          </tr>
          <tr>
          <td class="fieldLabel">Last Name:</td>
          <td><input type="text" size="30" name="lname"></td>
          </tr>
          <tr>
          <td class="fieldLabel">E-mail:</td>
          <td><input type="text" size="30" name="mail"></td>
          </tr>
          <tr>
          <td class="fieldLabel">Contact Number:</td>
          <td><input type="text" size="30" name="num"></td>
          </tr>
          <tr>
          <td class="fieldLabel">Message:</td>
          <td><input type="text" size="100" name="msg"></td>
          </tr>
        </div>
        <input type="button" onclick="window.location.href = './';" value="SEND FEEDBACK"/>
      </div>
      <% } %>
    <footer>
      <!--Sticky bottom footer-->
      <nav class="navbar fixed-bottom navbar-light bg-light">
        <h4>&copy;2019 Abirami</h4>
      </nav>
    </footer>

    <!--Script Section-->
    <script src="jquery/dist/jquery.min.js"></script>
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="Scripts/app.js"></script>
  </body>
</html>
